.css-class-used-wrapper {
  padding: 10px;
  .input {
    .input-area {
      display: flex;
      .input-check-css {
        width: 40%;
        max-width: 700px;
        margin-right: 20px;
      }
      .mat-radio-group {
        margin: auto 0;
        .mat-radio-button ~ .mat-radio-button {
          margin-left: 16px;
        }
      }
      .login-status-check, .device-select-check {
        padding: 0 20px;
        margin: auto 0;
        .mat-checkbox ~ .mat-checkbox {
          margin-left: 16px;
        }
      }
    }
    .search-button {
      width: 80%;
      display: block;
      margin: 10px auto 0;
    }
  }
  .result {
    margin-top: 20px;
    min-height: 100px;
    padding: 10px;
    ul {
      padding: 8px;
      list-style: none;
      li {
        width: 100%;
        animation: SlideIn 0.5s;
        .group-title-area {
          display: flex;
          align-items: center;
          margin: 20px 0;
          border-bottom: 1px solid #000;
          padding-bottom: 4px;
          width: 50%;
          .group-title {
            font-weight: 700;
            margin: 0;
          }
        }
        .hit-page {
          display: flex;
          cursor: pointer;
          align-items: center;
          background: rgb(237,237,237);
          background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(207,206,206,0.9023984593837535) 50%, rgba(237,237,237,1) 100%);
          padding: 6px;
          border-radius: 6px;
          box-shadow: #000 0px 2px 4px;
          .page-name {
            width: calc(50% - 10px);
          }
          p {
            padding: 0;
            margin: 0;
            & + p {
              margin-left: 20px;
            }
          }
          mat-icon {
            margin: 0 0 0 auto;
          }
        }
        & + li {
          margin-top: 20px;
        }
      }
      @keyframes SlideIn {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform-origin: center;
      transform-origin: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border-width: 8px;
      border-style: solid;
      border-color: #673ab7 rgb(103 58 183 / 70%) rgb(103 58 183 / 50%);
      /* ローディング要素のアニメーションを指定 */
      -webkit-animation: spinner1_1 1.5s infinite linear forwards;
      animation: spinner1_1 1.5s infinite linear forwards;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 12px;
        animation: spinner_loading_text 1.5s infinite linear forwards reverse;
      }
    }
    @-webkit-keyframes spinner1_1 {
      0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    @keyframes spinner1_1 {
      0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    /* Loading テキストのアニメーション内容 */
    @-webkit-keyframes spinner_loading_text {
      0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
      }
      50% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
      }
      100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    @keyframes spinner_loading_text {
      0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
      }
      50% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
      }
      100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
.confirm-page-wrapper {
  padding: 10px;
  .confirm-page {
    margin-top: 20px;
    min-height: 100px;
    padding: 10px;
    ul {
      padding: 8px;
      list-style: none;
      li {
        width: 100%;
        animation: SlideIn 0.5s;
        .group-title-area {
          display: flex;
          align-items: center;
          margin: 20px 0;
          border-bottom: 1px solid #000;
          padding-bottom: 4px;
          width: 50%;
          .group-title {
            font-weight: 700;
            margin: 0;
          }
        }
        .hit-page {
          display: flex;
          cursor: pointer;
          align-items: center;
          background: rgb(237, 237, 237);
          background: linear-gradient(180deg, rgba(237, 237, 237, 1) 0%, rgba(207, 206, 206, 0.9023984593837535) 50%, rgba(237, 237, 237, 1) 100%);
          padding: 6px;
          border-radius: 6px;
          box-shadow: #000 0px 2px 4px;
          .page-name {
            width: calc(50% - 10px);
          }
          p {
            padding: 0;
            margin: 0;
            & + p {
              margin-left: 20px;
            }
          }
          mat-icon {
            margin: 0 0 0 auto;
          }
        }
        & + li {
          margin-top: 20px;
        }
      }
    }
  }
}
