.css-class-used-wrapper {
  padding: 10px;
  .input {
    .input-area {
      display: flex;
      .input-check-css {
        width: 40%;
        max-width: 700px;
        margin-right: 20px;
      }
      .mat-radio-group {
        margin: auto 0;
        .mat-radio-button ~ .mat-radio-button {
          margin-left: 16px;
        }
      }
      .login-status-check, .device-select-check {
        padding: 0 20px;
        margin: auto 0;
        .mat-checkbox ~ .mat-checkbox {
          margin-left: 16px;
        }
      }
    }
    .search-button {
      width: 80%;
      display: block;
      margin: 10px auto 0;
    }
  }
  .result {
    margin-top: 20px;
    min-height: 100px;
    padding: 10px;
    ul {
      padding: 8px;
      list-style: none;
      li {
        width: 100%;
        animation: SlideIn 0.5s;
        .group-title-area {
          display: flex;
          align-items: center;
          margin: 20px 0;
          border-bottom: 1px solid #000;
          padding-bottom: 4px;
          width: 50%;
          .group-title {
            font-weight: 700;
            margin: 0;
            font-size: 18px
          }
        }
        .hit-page {
          display: flex;
          cursor: pointer;
          align-items: center;
          background: rgb(237,237,237);
          background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(207,206,206,0.9023984593837535) 50%, rgba(237,237,237,1) 100%);
          padding: 10px;
          border-radius: 6px;
          box-shadow: #000 0px 2px 4px;
          .page-name {
            width: calc(60% - 10px);
          }
          p {
            padding: 0;
            margin: 0;
            & + p {
              margin-left: 20px;
            }
          }
          mat-icon {
            margin: 0 0 0 auto;
          }
        }
        & + li {
          margin-top: 20px;
        }
      }
    }
  }
}
.confirm-page-wrapper {
  padding: 20px 10px;
  .confirm-page {
    margin-top: 20px;
    min-height: 100px;
    padding: 10px;
    ul {
      padding: 8px;
      list-style: none;
      li {
        width: 100%;
        animation: SlideIn 0.5s;
        .group-title-area {
          display: flex;
          align-items: center;
          margin: 20px 0;
          border-bottom: 1px solid #000;
          padding-bottom: 4px;
          width: 50%;
          .group-title {
            font-size: 18px;
            font-weight: 700;
            margin: 0;
          }
        }
        .hit-page {
          display: flex;
          padding: 10px;
          cursor: pointer;
          align-items: center;
          background: rgb(237, 237, 237);
          background: linear-gradient(180deg, rgba(237, 237, 237, 1) 0%, rgba(207, 206, 206, 0.9023984593837535) 50%, rgba(237, 237, 237, 1) 100%);
          border-radius: 6px;
          box-shadow: #000 0px 2px 4px;
          .page-name {
            width: calc(40% - 10px);
          }
          p {
            padding: 0;
            margin: 0;
            & + p {
              margin-left: 20px;
            }
          }
          mat-icon {
            margin: 0 0 0 auto;
          }
        }
        & + li {
          margin-top: 20px;
        }
      }
    }
  }
}
.show-future-info-button-wrapper {
  position: absolute;
  left: calc(50% - 10px);
  padding-top: 4px;
}
.future-shop-balloon {
  position: absolute;
  width: 75%;
  left: 13%;
  height: 24px;
  background: #ffd740;
  padding: 10px 10px 10px 20px;
  color: #464646;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 110px;
  -moz-border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: auto;
  .future-shop-url-text {
    width: 80%;
  }
  .copy-url, .open-new-window, .balloon-close {
    cursor: pointer;
  }
}
.future-shop-balloon:after {
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(0, 153, 255, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-top-color:#ffd740;
  top: 100%;
  left: 50%;
}
