<mat-tab-group>
  <mat-tab label="CSS-Class-Used">
    <div class="css-class-used-wrapper">
      <mat-card class="input">
        <form [formGroup]="fg" (onsubmit)="execSearch()">
          <section class="input-area">
            <mat-form-field class="input-check-css" appearance="fill">
              <mat-label>Check Style Selector</mat-label>
              <input matInput placeholder="input class or id" formControlName="inputStyleStr">
              <mat-error *ngIf="fg.get('inputStyleStr').errors">セレクタを入力してください</mat-error>
            </mat-form-field>
            <section class="device-select-check">
              <mat-checkbox color="primary" formControlName="isSp" formControlName="isSp">SP</mat-checkbox>
              <mat-checkbox color="primary" formControlName="isPc" formControlName="isPc">PC</mat-checkbox>
            </section>
            <section class="login-status-check">
              <mat-checkbox color="primary" formControlName="isLogin">Login</mat-checkbox>
              <mat-checkbox color="primary" formControlName="isLogout">Logout</mat-checkbox>
            </section>
          </section>
          <button color="primary" mat-raised-button class="search-button" (click)="execSearch()"><mat-icon>search</mat-icon>Search</button>
        </form>
      </mat-card>
      <mat-card class="result">
        <h1>{{fg.get('inputStyleStr').value}}&nbsp;&nbsp;Result</h1>
        <ul>
          <li *ngFor="let r of resultList" >
            <ng-container *ngIf="r.isFirstMatch">
              <div class="group-title-area">
                <mat-icon *ngIf="r.type === 0 || r.type === 1">computer</mat-icon>
                <mat-icon *ngIf="r.type === 2 || r.type === 3">smartphone</mat-icon>
                <p class="group-title">{{r.typeLabel}}</p>
              </div>
            </ng-container>
            <div class="show-future-info-button-wrapper">
              <button class="show-future-info-button" mat-stroked-button color="primary" (click)="showFutureShopUrlInfo()">FS</button>
            </div>
            <div class="hit-page" (click)="goToTargetPage(r.url)">
              <p class="page-name">{{r.pageName}}</p>
              <p>該当：{{r.matchCount}}件</p>
              <p>対象属性：{{r.matchCase | matchCaseLabel}}</p>
              <mat-icon>double_arrow</mat-icon>
            </div>
            <div class="future-shop-balloon" *ngIf="showFutureShopBalloon">
xxx
            </div>
          </li>
        </ul>
        <ng-container *ngIf="showLoading">
          <div class="spinner">
            <span>Searching...</span>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Confirm-Screen">
    <div class="confirm-page-wrapper">
      <mat-card class="confirm-page">
        <ul>
          <li *ngFor="let c of confirmPageList">
            <div class="hit-page" (click)="goToTargetPage(c.url)">
              <p class="page-name">{{c.pageName}}</p>
              <mat-icon>double_arrow</mat-icon>
            </div>
          </li>
        </ul>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
